<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<session-config> 
		<session-timeout>30</session-timeout> 
	</session-config> 
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCartItemAction</servlet-name>
    <servlet-class>com.musicStore.action.AddCartItemAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveCartItemAction</servlet-name>
    <servlet-class>com.musicStore.action.RemoveCartItemAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.musicStore.action.LoginAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>com.musicStore.action.RegisterAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteUserAction</servlet-name>
    <servlet-class>com.musicStore.action.DeleteUserAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditAlbumAction</servlet-name>
    <servlet-class>com.musicStore.action.EditAlbumAction</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>AddCartItemAction</servlet-name>
    <url-pattern>/AddCartItemAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveCartItemAction</servlet-name>
    <url-pattern>/RemoveCartItemAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/RegisterAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserAction</servlet-name>
    <url-pattern>/DeleteUserAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditAlbumAction</servlet-name>
    <url-pattern>/EditAlbumAction</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
